<h1>Welcome to Jimmy Johns</h1>

<h2>Smashing! Posh! Wholesome! Good for your teeth! </h2>

<h3>HISTORY</h3>
<h3>
<p align="justify">
Ahh, A Taste of Gourmet History. 1983 was a big year for America. Change was in the air. Reagan and old Bush were leading the country through the Cold War, GI Joe was dating Barbie, teenagers "tight rolled" their pants and slow danced to Total Eclipse of the Heart. For many, 1983 was a confusing, hungry place. People cried out for more.
<br>
<br>
It would be a 19-year-old with two first names that would answer America's cry for lunch – Jimmy John Liautaud.
<br>
<br>
Jimmy knew that if he kept it simple he could create the world's greatest gourmet sandwich. With a handful of cookbooks checked out from his local library, Jimmy perfected his award-winning bread. After creating four sandwiches, Jimmy tested them on friends and family, receiving praise he needed to press on. With no hesitation he opened the very first Jimmy John's. Paying a whopping $200 a month in rent, he could afford only used equipment consisting of a refrigerator, a chest freezer, an oven, and a meat slicer. The first Jimmy John's served soda with no ice (there was no room in the budget for an ice machine). As any good business story goes, things were not easy in the beginning. So Jimmy John Liautaud did what any young entrepreneur would do – he took to the streets with armfuls of free sandwiches. College kids loved his irreverent attitude and dirt-cheap prices. The fact that he delivered was icing on the cake. Jimmy John's has grown up over the last few decades. The irreverent attitude, low price, great food and delivery with a smile remain the same, but what was once the bratty little brother of the sandwich industry is now the super cool older brother that everyone else wants to be. We currently have over 2000 stores open.
<br>
<br>
What makes Jimmy John's different from the rest is that it's honest, it's damn good, it's damn fast, at a decent price! Jimmy John's definition of fresh is worlds apart from everyone else's. Bread is baked in-house everyday and served fresh. Meat and veggies are sliced fresh in-house everyday. The turkey is real turkey, the roast beef is real roast beef – no additives, no vegetable-based fillers, no fake stuff. Nothing is delivered pre-sliced. Real Hellmann's mayo, real Grey Poupon, real olive oil and red wine vinegar – it's the best of the best.
<br>
<br>
With perfect bread, systems in place, spectacular employees and leaders who lead and don't pass the buck, Jimmy John's box rocks. The culture that was created in the restaurants is the same culture that drives the corporate office. "Make a deal, keep a deal" is the Golden Rule. Do it now – make it happen – be a go-getter, no excuses. Jimmy John's employees are the ordinary people doing extraordinary things. They want to be the best. They don't mind doing whatever it takes to get the job done. Their hustle is part of how they live their daily lives, and they enjoy the fruits of a hard-earned entrepreneurial lifestyle. Once again, Jimmy John's wants only the best for the best.

</p>
</h3>