<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
     <html>
  <head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body> 
    <header>
      <div>
        <img class="logo" src="/images/logo.png"/>
      </div>
      <nav>
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/foods">Menu</a></li>
          <li><a href="/foods/new">New Menu Item</a></li>
          <li><a href="/parties">Parties</a></li>
          <li><a href="/parties/new">New Party</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>  
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
