
<h2>Jimmy Johns</h2>

<ul>
<% @foods.each do |food| %>
 	<tr>
 		<td><a href="/foods/<%= food.id %>"> <%= food.name %></a></td>
 		<td><%= food.category %></a>
 </tr>
 	<% end %>
</ul>

<a href="/foods/new">Add menu item</a>