<form action="/parties" method="POST">
	Party Name:<input type="text" name="new_party[party_name]"> 
	<br>
	Party Size:<input type="text" name="new_party[party_size]">
	<br>
	Table Number:<input type="text" name="new_party[table_number]">
	<br>
	Add Order: <input type=""
	Paid?:<input checked="checked" name="new_party[meal_paid]" type="radio" value="true">Yes <input name="new_party[meal_paid]" type="radio" value="false">No
	<br>
	<input type="submit" value="Add party">
</form>




