<form action="/parties" method="POST">
	Party Name:<input type="text" name="party[party_name]"> 
	<br>
	Party Size:<input type="text" name="party[party_size]">
	<br>
	Table Number:<input type="text" name="party[table_number]">
	<br>
	<br>
	Paid? <input name="party[meal_paid]" type="radio" value="t">Yes 
	<input checked="checked" name="party[meal_paid]" type="radio" value="f">No
	<br>
	Delivery? <input name="party[delivery]" type="radio" value="t">Yes 
	<input checked="checked" name="party[delivery]" type="radio" value="f">No
	<br>
	<br>
	<input type="submit" value="Add party">
</form>




