<h2>Brilliant!! Here is your receipt. Thank you! Please come again!</h2>

<ul>
	

</ul>
	<h3>Total: £<%= "%.2f" % (@party.total_bill*1.05) %></h3>

   <h3>Suggested Tips:
   <br> 
    15% = £<%= "%.2f" % (@party.total_bill* 0.15) %> 
    <br>
    18% = £<%= "%.2f" % (@party.total_bill* 0.18) %>
    <br>
    20% = £<%= "%.2f" % (@party.total_bill* 0.20) %></h3>


	<a href="/parties"> Return to Home</a>


