
<h2>ALL RECEIPTS</h2>
<ol>
	<% @parties.each do |party| %>
		<li>
			Total: <%= currency(party.total) %><br>
			Tips: <%= currency(party.tips) %><br>
			Checkout time: <%= party.updated_at %><br>
		</li>
	<% end %>
</ol>